
    body {
            background-color: #e9e5e5;
            font-family: Monospace, 'Sans Serif';

        }
    
    h1, h2, h3 {
               
                color: #f90404;
            }

    .main-title {
                    text-align: center;
                    color: #fa8744;
                    
    }  
    
    .page-heading {
                    text-align: center;
    }

    h1 {
        font-size: 40px;
        
    
        
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
    }

    .recipe-names {                             /* this is on the index page */
                    font-family: Monospace;
                    font-size: 30px;
                    
    }

    .food-image {
                   display: block;
                   margin-left:auto;
                   margin-right: auto;
                   
    }


    /* this is the box for the 'my favourite 3' list */

    .top-3-box {
                    
                    margin: 0 auto;
                    text-align: center;
                    
    }

    .top-3 {
               
                text-align: center;
                background-color: white;
                margin: 10px;
                margin-left:300px;
                margin-right: 300px;
    }

    .recipe-names {
                   
                    margin: 10px;
                    padding: 10px;
                    background-color: white;
                    margin-left: 300px;
                    margin-right: 300px;
                    margin-bottom: 50px;
                    
                   
                                
    }

    .pizza, .lasagna, .brownies {
                
                padding:5px;
                background-color: antiquewhite;
                box-sizing: border-box;
                margin: 0 auto;
    }
          
            
        /* here i am testing out a flexbox */

        .flex-container {
                            display: flex;
                            flex-direction: row;
                            background: blueviolet;
                            border: 2px blue solid;
                            height: 200px;
                            padding: 20px;
                            justify-content: center;
                            align-items: center;
                            gap: 8px;

                            margin-bottom: 100px;
                          
                    }
    
        .flex-container div {
                                background: peachpuff;
                                border: 4px solid brown;
                                height: 100px;
                                width: 250px;
                                
                                /*  flex: 1 1 0; */
        }

        .flex-container .two {
                               flex-shrink: 0; 
        }

        /* below is the example flexbox on the index page */

        /* Needs to be completed */

        .flex-container-two {
                                display: flex;
                                flex-direction: column;
                                background: rgb(183, 231, 110);
                                border: 2px solid darkgreen;
                                height: 500px;
                                padding: 20px;
                                justify-content: center;
                                gap: 8px;
                                
                                
    
                        }
        
        .box-one {
                    display: flex;
                    background: blueviolet;
                    border: 4px solid blue;
                    height: 100px;
                    flex: 1 1 auto;
                                    
             }

        .child-box-one {
                        background: peachpuff;
                        border: 4px solid brown;
                        height: 70px;


        }

        .box-two {

                    background: lightcoral;
                    border: 4px solid darkred;
                    height: 100px;
                    flex: 1 1 auto;
            
               }

        .box-three {
                     background: blueviolet;
                     border: 4px solid blue;
                     height: 100px;
                     flex: 1 1 auto;
        }


    
       