
    body {
            background-color: #f2f0f0;
            font-family: Monospace, 'Sans Serif';

        }
    
    h1, h2, h3 {
               
                color: #f90404;
            }

    .main-title {
                    text-align: center;
                    color: #fa8744;
                    
    }  
    
    .page-heading {
                    text-align: center;
    }

    h1 {
        font-size: 40px;
        
    
        
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
    }

    .recipe-names {                             /* this is on the index page */
                    font-family: Monospace;
                    font-size: 30px;
                    
    }

    .food-image {
                   display: block;
                   margin-left:auto;
                   margin-right: auto;
                   
    }

    

    